body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 95%;
  max-width: 550px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 5px;
  font-size: 2.2em;
  margin-top: 5px;
}

.setup-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 5px;
}

.setup-area label {
  font-weight: bold;
  font-size: 1.1em;
}

.hidden {
  display: none !important;
}

.players {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.player {
  padding: 5px;
  margin: 0 2px;
  border-radius: 3px;
  background-color: #ddd;
  font-size: 1em;
}

.player.active {
  background-color: #4caf50;
  color: white;
}

.dice-area {
  margin-bottom: 10px;
}

.dice-row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.die {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.die.selected {
  background-color: #4caf50;
  color: white;
}

.die svg {
  width: 100%;
  height: 100%;
}


#roll-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 1em;
}

#roll-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#start-game-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}

#restart-button {
padding: 8px 12px;
background-color: #007bff;
color: white;
border: none;
border-radius: 3px;
cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
}


.rolls-left {
  margin-bottom: 5px;
  font-size: 1em;
}

.scoreboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scoreboard {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.scoreboard h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.4em;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;
}

.score-table th,
.score-table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.score-table th.active-column,
.score-table td.active-column {
  background-color: rgba(76, 175, 80, 0.2);
}

.score-table td.score-cell:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.message {
  margin-top: 5px;
  font-weight: bold;
  font-size: 1em;
}

/* Smartphone optimization */
@media (min-width: 600px) {
  .scoreboard {
      width: 95%;
  }
}